/* Estilos generales para el body */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Estilo del contenedor de las instrucciones (ventana emergente) */
#instrucciones {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 3px solid #000;
    width: 300px;
    display: block;
}

/* Estilo del botón de cerrar */
button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3b3b3b;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

/* Cambio de color cuando el botón está en hover */
button:hover {
    background-color: #555;
}
